ul.gla-main-menu > li {
  display: inline-block;
  padding-inline: 10px;
}

.gla-countdown-timer {
  background-color: #5837b9;
  text-align: center;
  border-radius: 500px;
  padding: 10px 10px 20px;
  color: white;
}

.gla-countdown-container {
  margin: -10px 0 30px;
}

.gla-countdown-timer > div > div {
  display: inline-block;
  padding: 0px 20px;
  font-size: larger;
}

.gla-countdown-timer div.gla-countdown-text {
  display: block;
  padding-bottom: 10px;
}

.gla-countdown-timer .smallText {
  display: block;
  font-size: small;
}
