ul.gla-main-menu > li {
    display: inline-block;
    padding-inline: 10px;
}

.gla-organizer-name {
    font: 28pt Roboto;
    color: #5837b9;
}

.gla-organizer-description {
    font: 16pt Roboto;
    color: #5837b9;
}

